.new-tweet {
  border-radius: 5px;
  background-color: #eee;
  border: solid 1px #bebebe;
  margin: 2em;
  padding: 5px 5px 5px 5px;
  display: none;
}
.new-tweet h2{
  border-bottom: solid 2px ;
  margin: 2%;
  width:  95%;
}

.new-tweet textarea {
  resize: none;
  height: 100px;
  width: 95%;
  padding: 2%;
  margin: 4% 2% 0.25% 2%;
}
.new-tweet span {
  margin: 2% 2% 1%;
  float: right;
  font-style: italic;
  justify-content: bottom;
}

.new-tweet input {
  cursor: pointer;
  margin: 0.5% 2% 2% 2%;

}
.new-tweet span{
  margin-right: 25px;
}

.error {
  background-color: pink;
  color: black;
  justify-content: center;
  align-items: center;
  padding: .02em;
  height: 2em;
}


