
article.tweet {
  border-radius: 4px;
  border: solid 1px #eee;
  margin: 2em;
}

article.tweet:hover header{
  opacity: 1;
}

article.tweet:hover {
  border: solid 1px #bebebe;
}

article.tweet:hover .icons {
  visibility: visible;

}


article.tweet header {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  opacity: 0.5;
}

article.tweet .avatar {
  height: 60px;
}
article.tweet .username {
  font-weight: bold;
  font-size: 2em;
  margin: 3px 0px 0px 5px;
}
article.tweet .handle {
  font-weight: medium;
  font-size: 1em;
  color: #666666;
}

article.tweet .body {
  padding: 20px;
  font-size: 1.30em;
}
article.tweet footer {
  border-top: solid 1px #eee;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  padding: 0px 5px 5px 5px
}
article.class .date {
  grid-column-start: 1;
}
article.tweet .icons {
  visibility: hidden;
  grid-column-start: 2;
  padding: 14px 0px 14px 30px;
}

article.tweet .icons > i {
  color: #00a087;
  padding: 1px;
  font-size: 1.25em;
}

article.tweet p{
  max-width: 100%;
  overflow-wrap: break-word;
}


